<link rel="stylesheet" href="/styles/reseter.min.css"/>
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/footer.css">
<link rel="stylesheet" href="/styles/grid.css">
<link rel="stylesheet" href="/styles/partners.css">
<link rel="stylesheet" href="/styles/banner.css">
<link rel="stylesheet" href="/styles/adaptive.css">