---
title: 'Каталог каталогов'
layout: 'pages/home.njk'
eleventyComputed:
    keywords: "открытые данные"
    title: "Каталог каталогов открытых данных"
    description: "Поиск и фильтрация каталогов открытых данных"
    url: "{{helpers.domain}}{{page.url}}"
---