<section class="add-banner">
    <div class="wrapper" role="banner">
        <h3>Хотите предложить <br/> источник данных?</h3>
        <p>Заполните в форме ниже, какой источник данных отсутствует <br/> в каталоге, и мы обязательно его добавим</p>
        <a class="add-source">Добавить источник</a>
    </div>
</section>