<section class="column">
    <div class="add-catalog">
        <h2 >Добавить источник данных</h2>
        <p >Заполните форму, чтобы добавить источник данных,<br> и в ближайшее время он появится в каталоге. </p>
    </div>
    <form class="form" method="POST" action="https://formsubmit.co/ea962a602eefd88edfe5bfe70abceb70" enctype="multipart/form-data">
        <div class="label-form">Название</div>
        <div class="label-input">
            <input class="input-form"  type="text" name="name"  placeholder="Название источника данных">
        </div>
        <div class="label-form">Изображение</div>
        <div class="label-input">
            <input class="input-textarea" type="file"  name="attachment" accept="image/png, image/jpeg" placeholder="Изображение проекта или логотип (если есть)">
        </div>
        <div class="label-form">Описание</div>
        <div class="label-input">
            <textarea class="input-textarea" name="message" placeholder="Опишите содержание источника данных"></textarea>
        </div>
        <div class="label-form">Гиперссылка на каталог</div>
        <div class="label-input">
            <input class="input-form" type="text" name="link"  placeholder="Прикрепите полную гиперссылку на источник">
        </div>
        <div class="label-form">Темы</div>
        <div class="label-input">
            <select placeholder="Выберите тематическую категорию" class="input-form" name="select">
                <option value="Выберите тематическую категорию" label="Выберите тематическую категорию">Выберите тематическую категорию</option>
                <option value="Государственное управление" label="Государственное управление">Государственное управление</option>
                <option value="Здравоохранение" label="Здравоохранение">Здравоохранение</option>
                <option value="Бюджеты" label="Бюджеты">Бюджеты</option>
                <option value="Государственные финансы" label="Государственные финансы">Государственные финансы</option>
                <option value="Наука" label="Наука">Наука</option>
                <option value="Иное" label="Иное">Иное</option>
            </select>
        </div>
        <div class="button">
            <button class="button-form" type="submit">Отправить</button>
        </div>
    </form>
</section>