<header>
    <a class="logo" href="/">
        <img class="logo" src="/images/logo.png">
        <div>
            каталог<br/> каталогов</br> данных
        </div>
    </a>
    <nav class="navbar-nav" data-adaptive="no">
        <button type="button" class="close-menu" onclick="closeMenu()">×</button>
        <a class="nav-item"href="/about">О проекте</a>
        <a class="nav-item" href="/">Каталог каталогов</a>
        <a class="nav-item" href="mailto:datacatalogs@infoculture.ru" target="_blank">Связаться с нами</a>
        <a class="nav-item" data-element="button" href="/add-resource">Добавить источник</a>
    </nav>
    <button type="button" class="burger-menu" onclick="openMenu()">☰</button>
</header>
